body {
  margin: 0;
  font-family: sans-serif;
}

#header {
  padding: 10px;
  background-color: #e1e1e1;
}

.header-content {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#header_image {
  float: left;
}

.tox-statusbar__branding > a {
  display: none;
}
#header_image p {
  margin: 0 10px;
}

#header_image {
  margin-left: 250px;
}

#header_image img {
  width: 60px;
  height: 60px;
  float: left;
}

#header_svg {
  margin: 16px auto;
}

#header_svg span {
  margin: 0 20px;
}

#header_text input {
  margin-right: 5px;
}

.header-text {
  margin: 10px 60px;
}

.text-2 {
  font-weight: bold;
}

#side_menu {
  width: 200px;
  float: left;
  margin: 10px 30px;
  background-color: #f1f1f1;
  border-radius: 20px;
  box-shadow: 5px 4px 4px 0 #d1cdcd;
}

#side_menu ul li a {
  text-decoration: none;
  color: #2e2c2a;
}

.content {
  display: grid;
  grid-template-columns: 20% 80%;
  justify-items: center;
}

#side_menu ul {
  list-style: none;
  line-height: 50px;
  padding: 0;
  margin: 0 10px;
}

#side_menu ul li {
  padding: 0 10px;
}

#side_menu li {
  border: 1px solid;
  margin: 10px 0;
  border-radius: 5px;
}

#side_menu .admin-tag ul li:first-child {
  height: 100px;
}

#side_menu li:hover {
  list-style: none;
  line-height: 50px;
  background-color: #dbc894;
  border-top: 1px solid #dc3545;
}
.drop-btn {
  display: block;
}

.drop-btn svg {
  margin: -6px 16px;
}

.drop-btn ul {
  width: 250px;
  padding: 10px !important;
}

/* .drop-btn li {
        display: block;
        position: relative;
        padding: 5px;
      } */

.dropdown-container {
  display: none;
  position: absolute;
  background-color: #cec099;
}

.dropdown-container ul {
  padding: 0 10px;
}

.dropdown-container li a {
  text-decoration: none;
  color: #4b5b54;
}

.drop-btn:hover .dropdown-container {
  display: block;
}

.drop-dept {
  display: block;
}

.drop-dept svg {
  margin: -6px 0;
}

.dept-item {
  display: none;
  position: absolute;
  background-color: #cec099;
  width: 300px !important;
  padding: 0 10px !important;
}

.dept-item li a {
  text-decoration: none;
  color: #4b5b54;
}

.dept-item li a:hover {
  background-color: #dddddd;
}

.drop-dept:hover .dept-item {
  display: block;
}
.drop-btn .dept-item:hover {
  display: block;
}

.admin-tag {
  text-align: center;
}

.admin-tag p {
  margin: 0;
}

#header_svg {
  float: right;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

.content-card {
  margin: 10px 20px;
  background-color: #f1f1f1;
  border-radius: 20px;
  box-shadow: 5px 4px 4px 0 #d1cdcd;
  display: grid;
  grid-template-rows: 50% ;
}

.content-card .card {
  float: left;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-section .card-content .card-add {
  display: flex;
  justify-content: space-evenly;
}

.card-section .card-content .card-add svg {
  background-color: #4b5b54;
  border-radius: 5px;
}

.card .card-section {
  width: 250px;
  float: left;
}

.card .card-section .card-content {
  background-color: #c5c5c5;
  margin: 10px;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 1px 1px 7px 0 #bab9b9;
}
.card-section .card-content .card-action a {
  text-decoration: none;
  color: #dddddd;
}

.information {
  background-color: #f1f1f1;
  border-radius: 20px;
  margin: 10px 0;
}

.info-item .card .card-add-action .card-add {
  display: flex;
  justify-content: center;
  background-color: #4b5b54;
  border-radius: 5px;
  color: #f1f1f1;
  padding: 5px;
  margin: 0 10px;
}

.info-item .card .card-add-action .card-add span{
  margin: 5px 0;
}

.info-item .card .card-add-action{
  float: right;
}

.info-item .card .card-section {
  width: 300px;
  background-color: #efefef;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}

.info-item .card .card-section svg {
  float: left;
}

.card-action {
  background-color: #4b5b54;
  width: 90px;
  text-align: center;
  padding: 10px;
  border-radius: 3px;
  color: #dddddd;
}
